<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/beans_2_0.xsd"
       bean-discovery-mode="all">

    <alternatives>
        <class>com.mber.study.javaee.husivm._04_cdi._047_alternatives.Student</class>
    </alternatives>
    <interceptors>
        <class>com.mber.study.javaee.husivm._04_cdi._057_interceptors_binding.InterceptorOne</class>
        <class>com.mber.study.javaee.husivm._04_cdi._057_interceptors_binding.InterceptorTwo</class>
        <class>com.mber.study.javaee.husivm._04_cdi._057_interceptors_binding.InterceptorThree</class>
        <class>com.mber.study.javaee.husivm._04_cdi._057_interceptors_binding.InterceptorFour</class>
    </interceptors>
    <decorators>
        <class>com.mber.study.javaee.husivm._04_cdi._058_decorator.MyDecorator</class>
    </decorators>

</beans>